.dropdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #bebebe;
    padding: 0 5%;

    
    select {
        margin: 5px 0;
        height: 20px;
        margin-left: 5px;
        background-color: white;
        border: none;
        option[value=""]{display:none}
        
    }

    img {
        background-color: white;
        width: 15px;
        height: 15px;
    }
}
